input{
    margin-left: 30px;
    margin-bottom:40px;
    opacity: 0.4;
    border-radius: 20px;
}
body{
    background-color: grey;
    text-align: left;
    background-image: url(img/1683886097131.jpg);

    }