#mayor{
    color: blue;
}
#tinu{
    color: red;
}
h2.asa{
    background: purple;
}
h3.eni{
    background: brown;
}
h4.omo{
    background: red;
}
.emma{
    background: blue;
}
#ma{
    color: pink;
    background: yellowgreen;
}
.ife{
    color: blue;
    font-size: 50px;

}
.ayo{
    color: brown;
    font-size: 50px;
}
.mm{
    color: red;
    font-size: 50px;
}
.kuli{
    color: purple;
    font-size: 50px;
}
.mayor{
    color: gold;
    font-size: 50px;
}
.west{
    color: green;
    font-size: 50px;
}